/*UI ELEMENTS */

@font-face {
	font-family: title;
	src:url(../fontes/ANODETONOONE.TTF);
}

h1 {
	font-family:title;
	font-size:40px;
	color:#603A03;
}

body {
	background-image:url(../imgs/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	display:flex;
	justify-content:center;
}

#container{
	margin-top: calc(50vh - 315px);
	display:flex;
	align-items: stretch;
	width:950px;
	height:auto;
	position:relative;
	margin-left:0;
	margin-right:0;
	overflow:hidden;
}

#inicio {
	display:flex;
	flex-direction: column;
	background-color:#FFF;
 	margin-left:11em;
    margin-right:11em;
 	margin-top:100px;
	text-align:center;
	padding:10px;
	border-color:#2b1d02;
	border-style:solid;

}

#fundoGame {
    width:950px;
	height:630px;
	background-image:url(../imgs/fundo_game.jpg);
	border-color:#2b1d02;
	border-style:solid;
}

/* IN-GAME ENTITIES*/

#jogador {
	width:256px;
	height:66px;
	position:absolute;
	left:8px;
	top:179px;
background-image:url(../imgs/apache.png);

}

#inimigo1 {
	width: 256px;
	height: 66px;
	position: absolute;
	left: 790px;
	top: 253px;
	background-image:url(../imgs/inimigo1.png);
	
}

#inimigo2 {
	width: 165px;
	height: 70px;
	position: absolute;
	left: 1050px;
	top: 447px;
	background-image: url(../imgs/inimigo2.png);
}

#amigo {
	width: 44px;
	height: 51px;
	position: absolute;
	left: 10px;
	top: 464px;
	background-image:url(../imgs/executive.png);
}

#disparo {
	width: 64px;
	height: 19px;
	position: absolute;
    background-image:url(../imgs/missile.png);
    animation: play3 .15s steps(2) infinite;
    -webkit-animation: play3 .15s steps(2) infinite;
	-moz-animation: play3 .15s steps(2) infinite;
	-ms-animation: play3 .15s steps(2) infinite;
	-o-animation: play3 .15s steps(2) infinite;
}

#missile {
	width: 64px;
	height: 30px;
	position: absolute;
    background-image:url(../imgs/bomb_mini.png);
}

#explosao1 {
	width:15px;
	height:87px;
	position:absolute;

}

#explosao2 {
	width:15px;
	height:87px;
	position:absolute;
	
}

#brokenScreen{
	position:absolute;
	width:100%;
	height:100%;
	z-index: 9;
	opacity:85;
	background-size: cover;
    background-repeat: no-repeat;
}

/* ANIMATION EFFECTS */

.anima1 {
	background-image:url(../imgs/helicoptero.png);
	animation:play .15s steps(2) infinite;

       -webkit-animation: play .15s steps(2) infinite;
       -moz-animation: play .15s steps(2) infinite;
       -ms-animation: play .15s steps(2) infinite;
       -o-animation: play .15s steps(2) infinite;
}

.anima2 {
    background-image:url(../imgs/inimigo1.png);
    animation: play .15s steps(2) infinite;
    -webkit-animation: play .15s steps(2) infinite;
	-moz-animation: play .15s steps(2) infinite;
	-ms-animation: play .15s steps(2) infinite;
	-o-animation: play .15s steps(2) infinite;
}


.anima3 {
	background-image:url(../imgs/executive.png);
	animation:play2 .9s steps(12) infinite;
	-webkit-animation: play2 .9s steps(12) infinite;
       -moz-animation: play2 .9s steps(12) infinite;
        -ms-animation: play2 .9s steps(12) infinite;
         -o-animation: play2 .9s steps(12) infinite;
}

/*PLAY*/
@keyframes play {
	from {background-position:0px;}
	to {background-position:-512px;}
}
@-webkit-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}
@-moz-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}
@-ms-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}
@-o-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}

/*PLAY2*/
@keyframes play2 {
	from {background-position: 528px; }
	to {background-position:     0px; }
}
@-webkit-keyframes play2 {
   from { background-position: 528px; }
     to { background-position: 0px;   }
}
@-moz-keyframes play2 {
   from { background-position:  528px; }
     to { background-position:    0px; }
}
@-ms-keyframes play2 {
   from { background-position:  528px; }
     to { background-position:    0px; }
}
@-o-keyframes play2 {
   from { background-position:  528px; }
     to { background-position:    0px; }
}


/*PLAY3*/
@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-128px;}
}
@-webkit-keyframes play3 {
   from { background-position:0px; }
     to { background-position: -128px; }
}
@-moz-keyframes play3 {
   from { background-position:0px; }
     to { background-position: -128px; }
}
@-ms-keyframes play3 {
   from { background-position:0px; }
     to { background-position: -128px; }
}
@-o-keyframes play3 {
   from { background-position:0px; }
     to { background-position: -128px; }
}